/*
	This css is feb mms
*/

nav{
	background-color: #25A9BD;
}

a:hover{
	cursor: pointer !important;
}

.edit_profile_submit_btn .waves-effect input[type="submit"]{
	color: #fff;
	cursor: pointer;
}
.feb_text_center{
	text-align: center;
}

/*
	@This css for @profile_template.php Template
*/

/* Scrollbar Customization */
::-webkit-scrollbar{
	width: 5px;
	background: #fff;
}
::-webkit-scrollbar-thumb{
	background: #25A9BD;
	background-image: -webkit-linear-gradient(20deg, rgba(255,255,255,.5) 25%, transparent 25%, transparent 50%, rgba(255,255,255,.5) 50%, rgba(255,255,255,.5) 75%, transparent 75%);
	border-top-left-radius: 3px;
	border-top-left-radius: 3px;
}
